#container{
	margin: 0 auto;
	margin-top: 50px;
	width:500px;
}

.tabber{
	overflow: hidden;
	
	.c{
		padding: 0;
		margin:0;
		list-style: none;
		display: none;		
		
		a{
			display:block;
			cursor: pointer;
			text-decoration: none;
			padding:5px;
			border: 1px solid #ccc;			
		}
		
		&.top{
			li{
				float:left;
				display: inline;
			}
		}
		
		&.left{
			float:left;
			li{
				display: block;
			}		
		}
	}
	
	.t{
		border: 1px solid #ccc;
		padding: 10px;
		&.top{
			clear: left;
		}
		
		&.left{
			overflow: hidden;
		}
	}
}