#container {
  margin: 0 auto;
  margin-top: 50px;
  width: 500px;
}
.tabber {
  width: 500px;
  overflow: hidden;
}
.tabber .control {
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
}
.tabber .control.top li {
  display: inline;
}
.tabber .control.left {
  float: left;
}
.tabber .control.left li {
  display: block;
}
.tabber .tab {
  overflow: hidden;
  border: 1px solid #ccc;
  padding: 5px;
}
